body,
html {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("../images/MAIN.jpg");

  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img1 {
  background-image: url("../images/MAIN.jpg");

  height: 100vh;
  width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  height: 1rem;
  background-image: url("../images/jumbotron.jpg");
}
.container {
  margin: 1rem;
}
.container1 {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.carousel-caption {
  top: 5rem;
  bottom: auto;
}
