body,
html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../images/MAIN.jpg");

  /* Control the height of the image */
  min-height: 100vh;
  min-width: 100vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  height: 5px;
  background-image: url("../images/jumbotron.jpg");
}

.container1 {
  margin: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.card {
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196f3;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.card {
  margin: 5px;
  padding: 3px;
}
